# Sarter Notebook

In [125]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

## Reading Data

In [3]:
# read train data
df_orders = pd.read_csv("Datasets/orders.csv", sep=";")
df_products = pd.read_csv("Datasets/product_attributes.csv", sep=",")
df_dists = pd.read_csv("Datasets/cities_data.csv", sep=";")

# read test data
df_test = pd.read_csv("test.csv", sep=";")

## Merge tables

In [136]:
df_dists

,city_from_name,city_to_name,city_from_coord,city_to_coord,distance
0,Dusseldorf,Zaragoza,"(51.2254018, 6.7763137)","(41.6521342, -0.8809428)",1214.4772
1,Dusseldorf,Venlo,"(51.2254018, 6.7763137)","(51.39244885, 6.1511724144122955)",47.3876
2,Dusseldorf,Bratislava,"(51.2254018, 6.7763137)","(48.1516988, 17.1093063)",819.2894
3,Dusseldorf,Hamburg,"(51.2254018, 6.7763137)","(53.550341, 10.000654)",339.2215
4,Dusseldorf,Rome,"(51.2254018, 6.7763137)","(41.8933203, 12.4829321)",1125.0290
...,...,...,...,...,...
661,Rotterdam,Helsinki,"(51.9244424, 4.47775)","(60.1674881, 24.9427473)",1560.6484
662,Rotterdam,Prague,"(51.9244424, 4.47775)","(50.0874654, 14.4212535)",726.5575
663,Rotterdam,Valencia,"(51.9244424, 4.47775)","(39.4697065, -0.3763353)",1434.1499
664,Rotterdam,Bremen,"(51.9244424, 4.47775)","(53.0758196, 8.8071646)",320.6459
665,Rotterdam,Porto,"(51.9244424, 4.47775)","(41.1494512, -8.6107884)",1558.0329

In [147]:
origin_port = list(df_orders['origin_port'].values)
logistic_hub = list(df_orders['logistic_hub'].values)
customer = list(df_orders['customer'].values)
l = len(customer)

In [148]:
origin_port_coord = []
logistic_hub_coord = []
customer_coord = []
distance_origin_to_hub = []
distance_hub_to_customer = []
distance_origin_to_customer = []

for i in range(l):
    o = origin_port[i]
    lh = logistic_hub[i]
    c = customer[i]
    
    df = df_dists[(df_dists['city_from_name'] == o)&(df_dists['city_to_name'] == c)]
    origin_port_coord.append(df['city_from_name'].values[0])
    customer_coord.append(df['city_to_name'].values[0])
    
    if type(lh) is not str: # there isn't a logistic hub
        distance_origin_to_customer.append(df['distance'].values[0])
        distance_origin_to_hub.append(None)
        distance_hub_to_customer.append(None)
    else:
        df = df_dists[(df_dists['city_from_name'] == o)&(df_dists['city_to_name'] == lh)]
        logistic_hub_coord.append(df['city_to_name'].values[0])
        distance_origin_to_hub.append(df['distance'].values[0])
        df = df_dists[(df_dists['city_from_name'] == lh)&(df_dists['city_to_name'] == c)]
        distance_hub_to_customer.append(df['distance'].values[0])

IndexError: index 0 is out of bounds for axis 0 with size 0

In [93]:
df_orders['weight'] = weight
df_orders['material_handling'] = material_handling

In [140]:
o = origin_port[i]
lh = logistic_hub[i]
c = customer[i]
df = df_dists[(df_dists['city_from_name'] == o)&(df_dists['city_to_name'] == c)]

In [146]:
df.distance.values[0]

1801.3393

# Insights

In [149]:
df = pd.read_csv('Datasets/ordersXproducts.csv')
del df['Unnamed: 0']

In [152]:
df

,order_id,origin_port,3pl,customs_procedures,logistic_hub,customer,product_id,units,late_order,weight,material_handling
0,366c7a3d298f,Rotterdam,v_002,DTP,Venlo,Marseille,1692723,583,True,1778.0,5.0
1,45f906331e10,Rotterdam,v_004,CRF,Rome,Marseille,1644308,459,False,1088.0,3.0
2,ac84a6e4af0f,Athens,v_002,CRF,Venlo,Paris,1684170,464,True,505.0,4.0
3,f5e98cb29790,Rotterdam,v_004,CRF,Lille,Milan,1620510,678,False,1308.0,4.0
4,a9e7c9bee35b,Barcelona,v_002,CRF,Venlo,Berlin,1699372,353,False,1465.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
114271,3f4b15fb770e,Rotterdam,v_002,CRF,Dusseldorf,Bordeaux,1681376,645,False,1896.0,3.0
114272,d2e6978a38fd,Barcelona,v_004,DTD,Dusseldorf,Berlin,1676942,502,False,746.0,1.0
114273,b88babd5c7bd,Rotterdam,v_002,DTP,Dusseldorf,Rome,1692737,464,False,572.0,5.0
114274,b0b5c761613f,Barcelona,v_003,DTD,Dusseldorf,Munich,1699974,388,False,1894.0,1.0
114275,1ab8e51519e4,Rotterdam,v_002,DTD,Venlo,Bucharest,1620510,482,False,1308.0,4.0

In [167]:
counts = df['late_order'].groupby(df['units']).value_counts()

In [172]:
type(counts)

pandas.core.series.Series

In [171]:
for i in range(1, 952):
   print(i, ":", counts[i][0]/(counts[i][0]+counts[i][1]))

KeyError: 0